<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<th:block th:fragment="addNodeModal">
    <div id="addNodeModal" class="modal modal-primary data-model">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Node</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="addNodeIP">IP Address</label>
                            <input name="ip" type="text" class="form-control" id="addNodeIP" placeholder="Enter IP"/>
                            <input type="hidden" class="form-control" id="addNodeGroupId"/>
                        </div>
                        <div class="form-group">
                            <label for="addNodeHostname">hostname</label>
                            <input name="hostname" type="text" class="form-control" id="addNodeHostname"
                                   placeholder="Enter hostname"/>
                        </div>
                        <div class="form-group">
                            <label for="addNodeDescription">Description</label>
                            <input name="description" type="text" class="form-control" id="addNodeDescription"
                                   placeholder="Enter description"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary " id="addNodeSaveBtn"><i class="fa fa-save"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="addMultipleNodeModal">
    <div id="addMultipleNodeModal" class="modal modal-primary data-model">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Multiple Node</h4>
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="ipList">
                                Ex1) ip,hostname,description<br/>127.0.0.1,localhost,localhost description<br/>
                                Ex2)ip1\n ip2<br/>127.0.0.1<br/>10.0.0.1<br/>
                                Ex3)json<br/>[{"ip":"127.0.0.1","hostname":"hostname","description":"some description"}]
                            </label>
                            <input type="hidden" class="form-control" id="addMultipleNodeGroupId"/>
                            <textarea id="ipList" class="form-control" rows="10" placeholder="Enter ..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary " id="addMultipleNodeSaveBtn"><i
                            class="fa fa-save"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="addCheckPointModal">
    <div id="checkPointModal" class="modal modal-primary data-model">
        <div class="modal-dialog modal-md">
            <div class="box box-info">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 name="title" class="modal-title">Add Check Point</h4>
                </div>
                <div class="box-body box-info check-point-box-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#checkPointBasics" data-toggle="tab">Basic</a></li>
                            <li><a href="#checkPointHeaders" data-toggle="tab">Headers</a></li>
                            <li><a href="#checkPointParameters" data-toggle="tab">Parameters</a></li>
                            <li><a href="#checkPointValidations" data-toggle="tab">Validations</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="checkPointBasics">
                                <div class="box-info form-horizontal">
                                    <div class="form-group">
                                        <label for="checkPointName" class="col-sm-2 control-label">Name</label>

                                        <div class="col-sm-10">
                                            <input id="checkPointId" type="hidden" name="checkPointId"/>
                                            <input id="checkPointName" name="name" type="text" class="form-control"
                                                   placeholder="name"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="checkPointDescription"
                                               class="col-sm-2 control-label">Description</label>

                                        <div class="col-sm-10">
                                            <input id="checkPointDescription" name="description" type="text"
                                                   class="form-control" placeholder="description"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="checkPointMethod" class="col-sm-2 control-label">Method</label>

                                        <div class="col-sm-10">
                                            <select id="checkPointMethod" class="form-control" name="method">
                                                <option value="GET">GET</option>
                                                <option value="POST">POST</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="checkPointSchema" class="col-sm-2 control-label">Schema</label>

                                        <div class="col-sm-10">
                                            <select id="checkPointSchema" class="form-control" name="schema">
                                                <option value="http">http</option>
                                                <option value="https">https</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="checkPointPort" class="col-sm-2 control-label">Port</label>

                                        <div class="col-sm-10">
                                            <input id="checkPointPort" name="port" type="number" min="0" max="65535"
                                                   class="form-control" placeholder="port" value="80"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="checkPointPath"
                                               class="col-sm-2 control-label">Path</label>

                                        <div class="col-sm-10">
                                            <input id="checkPointPath" name="path" type="text"
                                                   class="form-control" placeholder="path" value="/"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane check-point" id="checkPointHeaders">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Quick Utilities</h3>
                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 100px;">
                                            <div class="input-group-btn">
                                                <a name="addHeaderEntryBtn" class="btn btn-success btn-pull-right"
                                                   href="javascript:void(0);">Add Header</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 222px;">
                                            <div class="input-group-btn">
                                                <a name="addHeaderByTextBtn" class="btn btn-success" href="javascript:void(0);">Add By Text</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-info form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3">
                                            <input name="name" type="text" class="form-control" placeholder="User-Agent" value="Cookie"/>
                                        </label>
                                        <div class="col-sm-7">
                                            <input name="value" type="text" class="form-control" placeholder="name" value=""/>
                                        </div>
                                        <div class="col-sm-2">
                                            <a name="delEntryBtn" class="btn btn-danger" href="javascript:void(0);">Del</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3">
                                            <input name="name" type="text" class="form-control" placeholder="User-Agent" value="User-Agent"/>
                                        </label>
                                        <div class="col-sm-7">
                                            <input name="value" type="text" class="form-control" placeholder="User-Agent"/>
                                        </div>
                                        <div class="col-sm-2">
                                            <a name="delEntryBtn" class="btn btn-danger" href="javascript:void(0);">Del</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane check-point" id="checkPointParameters">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Quick Utilities</h3>
                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 100px;">
                                            <div class="input-group-btn">
                                                <a name="addParameterEntryBtn" class="btn btn-success btn-pull-right"
                                                   href="javascript:void(0);">Add Parameter</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 222px;">
                                            <div class="input-group-btn">
                                                <a name="addParameterByURLBtn" class="btn btn-success" href="javascript:void(0);">Add By URL</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-info form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3">
                                            <input name="name" type="text" class="form-control" placeholder="parameter name" value="query"/>
                                        </label>
                                        <div class="col-sm-7">
                                            <input name="value" type="text" class="form-control" placeholder="parameter value" value="test"/>
                                        </div>
                                        <div class="col-sm-2">
                                            <a name="delEntryBtn" class="btn btn-danger" href="javascript:void(0);">Del</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane check-point" id="checkPointValidations">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Quick Utilities</h3>
                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 100px;">
                                            <div class="input-group-btn">
                                                <a name="addValidationBtn" class="btn btn-success btn-pull-right" href="javascript:void(0);">Add Validation</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 222px;">
                                            <div class="input-group-btn">
                                                <a name="addValidationByJsonBtn" class="btn btn-success" href="javascript:void(0);">Add By JSON</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-info form-horizontal">
                                    <table class="table table-striped table-bordered checkPointValidationsTable">
                                        <thead>
                                            <th>Type</th>
                                            <th>Operator</th>
                                            <th>Name</th>
                                            <th>Value</th>
                                            <th>Description</th>
                                            <th>action</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <select class="form-control" name="validateType">
                                                    </select>
                                                </td>
                                                <td>
                                                    <select class="form-control" name="operator">
                                                    </select>
                                                </td>
                                                <td>
                                                    <input name="name" type="text" class="form-control" placeholder="name" value=""/>
                                                </td>
                                                <td>
                                                    <input name="value" type="text" class="form-control" placeholder="expected value" value=""/>
                                                </td>
                                                <td>
                                                    <input name="description" type="text" class="form-control" placeholder="error message" value=""/>
                                                </td>
                                                <td>
                                                    <a name="delEntryBtn" class="btn btn-danger" href="javascript:void(0);">Del</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button type="button" class="btn btn-info pull-left" data-dismiss="modal">Close</button>
                        <button name="saveCheckPointBtn" type="button" class="btn btn-primary pull-right"><i
                                class="fa fa-save"></i> Save
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="addCheckPointByJsonModal">
    <div id="addCheckPointByJsonModal" class="modal modal-primary data-model">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add CheckPoint By JSON</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="ipList">
                            Sample download)
                        </label>
                        <textarea id="jsonContent" class="form-control" rows="10" placeholder="Enter ..."></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" name="saveCheckPointJson"><i class="fa fa-save"></i> Save
                </button>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="addCheckPointValidationByJsonModal">
    <div id="addCheckPointValidationByJsonModal" class="modal modal-primary data-model">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Validations By JSON</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="ipList">
                            Sample download)
                        </label>
                        <textarea id="validationJsonContent" class="form-control" rows="10" placeholder="Enter ..."></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" name="saveCheckPointValidationsJson"><i class="fa fa-save"></i> Save
                </button>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="addHeaderByTextModal">
    <div id="addHeaderByTextModal" class="modal modal-primary data-model">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Header By Text</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="ipList">
                            Sample download)
                        </label>
                        <textarea id="headerTextContent" class="form-control" rows="10" placeholder="Enter ...">
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8
Accept-Encoding: gzip, deflate
Accept-Language: zh-CN,zh;q=0.9,en;q=0.8,ko;q=0.7,ja;q=0.6
Cookie: __jdu=15088430161521772345911;
Cache-Control: no-cache
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/63.0.3239.84 Safari/537.36
Referer: http://host.jd.com/pages/config/www.baidu.com/group</textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" name="parseCheckPointHeaderBtn"><i class="fa fa-save"></i> Save
                </button>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="addParameterByTextModal">
    <div id="addParameterByTextModal" class="modal modal-primary data-model">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Parameter By URL</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="ipList">
                            Copy url and paste here...
                        </label>
                        <textarea id="queryTextContent" class="form-control" rows="10" placeholder="Enter ...">query=name&amp;ie=utf-8</textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" name="parseCheckPointParameterBtn"><i class="fa fa-save"></i> Save
                </button>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="addJobModal">
    <div id="addJobModal" class="modal modal-primary data-model">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Job</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="jobName" class="col-sm-2 control-label">Name</label>

                        <div class="col-sm-10">
                            <input id="jobName" name="jobName" type="text" class="form-control" placeholder="name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="checkPointId" class="col-sm-2 control-label">CheckPoint</label>

                        <div class="col-sm-10">
                            <select id="checkPointId" name="checkPointId" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="checkPointId" class="col-sm-2 control-label">Groups</label>
                        <div class="col-sm-10" name="groupList">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" name="saveJob"><i class="fa fa-save"></i> Save
                </button>
            </div>
        </div>
    </div>
</th:block>
<th:block th:fragment="addJobByJsonModal">
    <div id="addJobByJsonModal" class="modal modal-primary data-model">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add job By JSON</h4>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="ipList">
                            Sample download)
                        </label>
                        <textarea id="jsonContent" class="form-control" rows="10"
                                  placeholder="Enter json content..."></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" name="saveJobJson"><i class="fa fa-save"></i> Save
                </button>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>