<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HostChecker</title>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <th:block th:include="common/header :: headerCommonCss"></th:block>
    <th:block th:include="common/script :: script_common"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:include="common/common :: navigationBar"></th:block>
    <th:block th:include="common/left :: aside"></th:block>
    <div class="content-wrapper" style="min-height: 976px;">
        <section class="content-header">
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Widgets</li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="${serviceConfig.domain}"></h3>
                </div>
                <!--
                {
                  "serviceName": "test",
                  "description": "testservice",
                  "domain": "baidu.com",
                  "env": "RELEASE"
                }
                -->
                <form class="form-horizontal">
                    <div id="service_config" class="box-body">
                        <div class="form-group">
                            <label for="domain" class="col-sm-2 control-label">Domain</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="domain" placeholder="domain"
                                       th:value="${serviceConfig.domain}" disabled="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="serviceName" class="col-sm-2 control-label">Service Name</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="serviceName"
                                       placeholder="input service name here..."
                                       th:value="${serviceConfig.serviceName}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="env" class="col-sm-2 control-label">ENV</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="env" placeholder="env"
                                       th:value="${serviceConfig.env}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-2 control-label">Description</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="description"
                                       placeholder="input description here..." th:value="${serviceConfig.description}"/>
                            </div>
                        </div>
                    </div>

                    <hr style="margin-top: 0px; margin-bottom: 10px"></hr>
                    <div class="box-footer">
                        <a id="save" class="btn btn-success" href="javascript:void(0);">Save</a>
                        <a id="delete" class="btn btn-danger" href="javascript:void(0);">Delete</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>
<!-- /.container -->
<th:block th:include="common/common :: footer"></th:block>
<th:block th:include="common/script :: script_more"></th:block>
<script type="text/javascript" src="/js/service.js"></script>
<script th:inline="javascript">
    new com.jd.h5.check.service({serviceConfig : [[${serviceConfig}]]});
</script>
</body>
</html>