<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HostChecker</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <th:block th:include="common/header :: headerCommonCss"></th:block>
    <th:block th:include="common/script :: script_common"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:include="common/common :: navigationBar"></th:block>
    <th:block th:include="common/left :: aside"></th:block>
    <div class="content-wrapper" style="min-height: 976px;">
    <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br /> All you get is this text and a mostly barebones HTML document.</p>
    </div>
    </div>
</div><!-- /.container -->
<th:block th:include="common/common :: footer"></th:block>
<th:block th:include="common/script :: script_more"></th:block>
</body>
</html>